# Loading the Datasets

In [26]:
import pandas as pd
df = pd.read_csv("C:\\Users\\aakas\\OneDrive\\Desktop\\Coding\\Exoplanet-Classifier\\NASA_resources\\TOI_2025.10.04_09.06.02.csv")

In [27]:
df

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_loggerr2,st_logglim,st_loggsymerr,st_rad,st_raderr1,st_raderr2,st_radlim,st_radsymerr,toi_created,rowupdate
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,NaN,...,-0.07,0,1,2.169860,0.072573,-0.072573,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,NaN,...,-0.09,0,1,2.010000,0.090000,-0.090000,0,1,2019-07-24 15:58:33,2023-04-03 14:31:04
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,NaN,...,NaN,0,1,5.730000,NaN,NaN,0,1,2019-07-24 15:58:33,2022-07-11 16:02:02
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,NaN,...,-1.64,0,1,NaN,NaN,NaN,0,1,2019-07-24 15:58:33,2022-02-23 10:10:02
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,NaN,...,-0.07,0,1,2.150000,0.060000,-0.060000,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7698,7699,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,NaN,...,NaN,0,1,NaN,NaN,NaN,0,1,2019-07-24 15:58:33,2021-10-29 12:59:15
7699,7700,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,NaN,...,NaN,0,1,2.050000,NaN,NaN,0,1,2019-07-24 15:58:33,2021-10-29 12:59:15
7700,7701,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,NaN,...,-0.08,0,1,0.926261,0.045789,-0.045789,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
7701,7702,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,NaN,...,-0.07,0,1,2.349860,0.091578,-0.091578,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01
7702,7703,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,NaN,...,-0.09,0,1,1.300000,0.050000,-0.050000,0,1,2019-07-24 15:58:33,2024-09-09 10:08:01

In [28]:
df.isnull().sum()

rowid              0
toi                0
toipfx             0
tid                0
ctoi_alias         0
                ...
st_raderr2      1963
st_radlim          0
st_radsymerr       0
toi_created        0
rowupdate          0
Length: 87, dtype: int64

In [30]:
cleaned_columns = [col for col in df.columns if df[col].isnull().sum() == 0]
print(cleaned_columns)
cleaned_df = df[cleaned_columns].drop(["toi_created","toi_created"],axis=1)
cleaned_df

['rowid', 'toi', 'toipfx', 'tid', 'ctoi_alias', 'pl_pnum', 'tfopwg_disp', 'rastr', 'ra', 'decstr', 'dec', 'pl_tranmid', 'pl_tranmidlim', 'pl_tranmidsymerr', 'pl_orbperlim', 'pl_orbpersymerr', 'pl_trandurh', 'pl_trandurhlim', 'pl_trandurhsymerr', 'pl_trandep', 'pl_trandeplim', 'pl_trandepsymerr', 'pl_radelim', 'pl_radesymerr', 'st_tmag', 'st_tmagerr1', 'st_tmagerr2', 'st_tmaglim', 'st_tmagsymerr', 'st_distlim', 'st_distsymerr', 'st_tefflim', 'st_teffsymerr', 'st_logglim', 'st_loggsymerr', 'st_radlim', 'st_radsymerr', 'toi_created', 'rowupdate']

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,decstr,...,st_tmagsymerr,st_distlim,st_distsymerr,st_tefflim,st_teffsymerr,st_logglim,st_loggsymerr,st_radlim,st_radsymerr,rowupdate
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,-12d41m45.46s,...,1,0,1,0,1,0,1,0,1,2024-09-09 10:08:01
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,-05d30m49.87s,...,1,0,1,0,1,0,1,0,1,2023-04-03 14:31:04
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,-10d34m49.64s,...,1,0,1,0,1,0,1,0,1,2022-07-11 16:02:02
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,-25d12m25.26s,...,1,0,1,0,1,0,1,0,1,2022-02-23 10:10:02
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,-48d48m10.12s,...,1,0,1,0,1,0,1,0,1,2024-09-09 10:08:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7698,7699,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,+05d33m46.26s,...,1,0,1,0,1,0,1,0,1,2021-10-29 12:59:15
7699,7700,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,-19d30m57.65s,...,1,0,1,0,1,0,1,0,1,2021-10-29 12:59:15
7700,7701,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,-59d34m47.27s,...,1,0,1,0,1,0,1,0,1,2024-09-09 10:08:01
7701,7702,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,-14d13m07.76s,...,1,0,1,0,1,0,1,0,1,2024-09-09 10:08:01
7702,7703,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,-58d13m19.42s,...,1,0,1,0,1,0,1,0,1,2024-09-09 10:08:01